<div class= "register">
  <div class="header">
    <p>Register to BikeShare</p>
  </div>

  <div class="register-modal-content">
    <div class="credentials">
      <form id="frm-register">
        <label for="fullName">Full Name</label>
        <input class="reg" id="firstname" required type="text" ng-model="fullName" placeholder="First Name">
        <label for="username">User Name</label>
        <input class="reg" id="lastname" required type="text" ng-model="userName" placeholder="Last Name">
        <label for="email"></label>
        <input class="reg" id="email" required type="text" ng-model="email" placeholder="email">
        <label for="password"></label>
        <input class="reg" id="password" required type="password" ng-model="password" placeholder="Enter Password">
        <label for="confrirm password"></label>
        <input class="reg" id="confirmpassword" required type="password" ng-model="confirmPassword" placeholder="Confrim Password">
        <label></label>
      </form>
    </div>
    
  </div>
</div>
